 #tit {color: white; text-align: center; background-color: green;}
 #mila {background-color: blue; color: black;}
 #pastel {background-color: yellow; color: black;}
 #matambre {background-color: blue; color: black;}